@media (max-width: 601px) {
  .bigScreen {
    display: none;
  }
  .menu {
    padding: 13px 40px 13px 40px;
  }
  .allNews {
    width: 375px;
    padding-left: 15px;
    flex-wrap: wrap;
  }
  .allNews img {
    width: 120px;
    height: 67px;
  }
  .mainNews h1 {
    font-size: 32px;
  }
  .mainNews p {
    color: #c4160c;
    font-size: 18px;
  }
  .smallNewsUp h4 {
    color: #c4160c;
  }
  .smallNewsUp h6 {
    color: #c4160c;
  }
  .smallNewsDown h4 {
    color: #c4160c;
  }
  .smallNewsDown h6 {
    color: #c4160c;
  }
  .smallNewsBox {
    border-top: 1px solid #ebedef;
    padding-top: 15px;
    padding-bottom: 12px;
  }
  .leftSide {
    margin-top: 16px;
  }
  .smallNewsUp {
    padding-top: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: none;
    border-top: none;
    border-bottom: none;
    width: 344px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .smallNewsDown {
    border-top: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 344px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 0px;
  }
  h1 {
    padding: 0 15px 0 15px;
    width: 345px;
  }
  p {
    padding: 0 15px 0 15px;
    width: 345px;
  }
  .rightSide {
    width: 344px;
    flex-wrap: wrap;
  }
  .mediumNewsLeft {
    width: 344px;
    max-width: 344px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: none;
  }
  .mediumNewsLeft h4 {
    color: #66ca8f;
  }
  .mediumNewsLeft h6 {
    color: #66ca8f;
  }
  .mediumNewsRight {
    width: 344px;
    max-width: 344px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: none;
  }
  .mediumNewsRight h4 {
    color: #f1a44d;
  }
  .mediumNewsRight h6 {
    color: #f1a44d;
  }
  .mediumNewsBox {
    border-top: 1px solid #ebedef;
    padding-top: 23px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    width: 344px;
  }
  .mobileNews {
    display: flex;
  }
  .imageNews {
    padding-right: 9px;
  }
}
@media (min-width: 601px) {
  .smallScreen {
    display: none;
  }
}
